body {
  width: 100%;
  // margin: 0px 0px;
  // padding: 0px 0px;
  // display: flex;
  background-color: #5a95f5;
  color: rgb(5, 5, 5);
  font-size: 40px;
}

#navBar {
  // width: 100%;
  // margin: 0px 0px;
  // padding: 0px 0px;
  // display: flex;
  // flex-direction: column;
}

#appHeader {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

#about {
  // border: 1px solid rgb(22, 22, 12);
  background-color: rgb(226, 220, 220);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 20px 0px;

  .aboutProject {
    // border: 1px solid red;
    background: rgb(243, 243, 243);
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-evenly;

    h3 {
      font-size: 50px;
    }

    p {
      font-size: 31px;
    }
  }
}



.demoContainer {
  // background: white;
  display: flex;
  flex-direction: column;


  .demoHeader {
    // border: 1px solid red;
    margin: 0px auto;
    padding: 0px 0px;
  }
}

.demoItem {
  // border:1px solid red;
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  #demoGif {
    // border: 1px solid blue;
    width: 40%;
    height: 70%;
  }

  .featureWords {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featureName {
    // border: 1px solid yellow;
  }

  .featureDescription {
    // border: 1px solid green;
    // width: 50%;
  }
}



.teamContainer {
  // border: 1px solid rgb(239, 255, 10);
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 70vh;
  padding: 0px 0px 300px 0px;
  // margin: 0px 0px 100px 0px;

  h3 {
    // border: 1px solid red;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #allCards {
    // border: 3px solid white;
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }

  .teamMember {
    border: 2px solid orange;
    border-radius: 5px;
    width: 40%;
    padding: 50px 0px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 35px;
      color: rgb(12, 12, 12);
    }

    .teamMemberLinks {
      color: orange;
      font-size: 25px;
    }
  }
}

.footer {
  margin-top: 100px;
  border-top: 2px solid orange;
  padding: 40px 0px;
}

.footerIcons {
  // border: 1px solid yellow;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

// DATA PAGE STYLING
.dataPageContainer {
  // background-color: purple;
  // border: 2px solid red;
  // width: 100%;
  // display: flex;
  background-color: rgb(226, 220, 220);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 40px 0px;
}

.visualizerContainer {
  background-color: green;
  border: 2px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.codeContainer {
  background-color: #5aebf5;
  border: 2px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}
