@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  // font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrcVIT9d0c8.woff)
    format('woff');
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  // display: flex;
  background-color: #f0f1f1;
  color: rgb(5, 5, 5);
  font-size: 40px;
  font-family: 'Raleway';
}

/*
NAVBAR STYLING
*/
#navBar {
}

#appHeader {
  background-color: #5a95f5;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .headerLinks {
    color: #f5ba5a;
    font-size: 40px;
  }

  .headerLinks:visited {
    color: #f5ba5a;
  }

  .headerLinks:hover {
    color: #f5ba5a;
    font-size: 43px;
  }

  .headerLinks:active {
    color: #f5ba5a;
  }
}

/*
HOMEPAGE INTRO/ABOUT STYLING
*/

.homePage {
  width: 100%;
}

#about {
  background-color: #5a95f5;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 20px 0px;

  #logo {
    height: 50%;
  }

  .aboutProject {
    background-color: #f0f1f1;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid #f5ba5a;
    box-shadow: 0px 0px 10px #aaa9a9;
    border-radius: 5px;

    h3 {
      font-size: 50px;
    }

    p {
      font-size: 31px;
    }
  }
}

/*
HOMEPAGE DEMO STYLING
*/

.demoContainer {
  // background: white;
  display: flex;
  flex-direction: column;

  .demoHeader {
    // border: 1px solid red;
    margin: -20px auto;
    padding: 0px 0px;
    font-size: 50px;
  }
}

.demoItem {
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  #demoGif {
    border: 2px solid #f5ba5a;
    border-radius: 5px;
    width: 40%;
    height: 70%;
    box-shadow: 0px 0px 10px #aaa9a9;
  }

  .featureWords {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featureName {
    // border: 1px solid yellow;
    font-size: 40px;
  }

  .featureDescription {
    // border: 1px solid green;
    // width: 50%;
    font-size: 30px;
  }
}

/*
ABOUT US/TEAM STYLING
*/

.teamContainer {
  background-color: #5a95f5;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 90vh;
  margin-top: 50px;
  padding: 0px 0px 300px 0px;
  // margin: 0px 0px 100px 0px;

  h3 {
    // border: 1px solid red;
    // color: rgb(0, 0, 0);
    color: #f5ba5a;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #allCards {
    // border: 3px solid white;
    width: 75%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }

  .teamMember {
    border: 2px solid #f5ba5a;
    box-shadow: 0px 0px 10px #aaa9a9;
    border-radius: 5px;
    width: 40%;
    padding: 20px 0px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 35px;
      // color: rgb(12, 12, 12);
      color: #f5ba5a;
    }

    .headshot {
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    .teamMemberLinks {
      // border: 1px solid red;
      // font-size: 25px;
      display: flex;
      justify-content: space-between;
      width: 25%;
      cursor: pointer;
    }

    .siteLogos {
      height: 50px;
      width: 50px;
    }

    .siteLogos:hover {
      height: 55px;
      width: 55px;
    }
  }
}

/*
URI FORM STYLING
*/
.uriForm {
  width: 100%;
  height: 50%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  .formHeader {
    font-size: 50px;
  }

  .dbInput {
    width: 90%;
  }

  .formButtons {
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 5px 0px;
    background-color: #5a95f5;
    color: #f5ba5a;
    font-size: 15px;
  }

  .formButtons:hover {
    cursor: pointer;
    filter: brightness(85%);
  }

  // #uriSubmitButton {
  //   // color: #f5ba5a;
  // }

  // #sampleDataButton {
  //   // color: #f5ba5a;
  // }
}

/*
DATA PAGE STYLING
*/

.dataPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 30px 0px 0px 10px;
  width: 20%;
  // background-color: #aaa9a9;
  // height: 50%;
  // border: 1px solid #f5ba5a;
  // border-top: 1px solid #f5ba5a;
  // border-bottom: 1px solid #f5ba5a;
}

.graphicalContainer {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: space-between;
}

.visualizerContainer {
  // background-color: green;
  border: 2px solid #f5ba5a;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // margin-right: 10px;
}

.codeContainer {
  background-color: #f0f1f1;
  border: 2px solid #f5ba5a;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // for stacy's testing purposes below, can't see shit
  overflow-y: auto;
  font-size: 8px;

  .codeContainerButton {
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 5px 0px;
    background-color: #5a95f5;
    color: #f5ba5a;
    font-size: 15px;
  }

  .codeContainerButton:hover {
    cursor: pointer;
    filter: brightness(85%);
  }

  // #schemaButton {
  // }

  // #resolverButton {
  // }
}

/*
FOOTER
*/
.footer {
  // background-color: #5a95f5;
  width: 100%;
  display: flex;
  // margin-top: 30px;
  // margin-bottom: 0px;
  margin: 30px 0px;
  // border-top: 2px solid orange;
  padding: 0px 0px;
  font-size: 40px;
}

.footerIcons {
  // border: 1px solid yellow;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .footerLink {
    color: #5a95f5;
  }

  .footerLink:visited {
    color: #5a95f5;
  }

  .footerLink:hover {
    color: #f5ba5a;
    font-size: 43px;
  }

  .footerLink:active {
    color: #5a95f5;
  }
}
