@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrcVIT9d0c8.woff)
    format("woff");
}

@font-face {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.google.com/share?selection.family=Noto%20Serif);
}
