.codeContainer {
  background-color: #f0f1f1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  font-size: 8px;
  margin-top: 4px;

  .codeButtons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .codeContainerButton {
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: 10px 0px;
    background-color: $dark-blue;
    color: $orange;
    font-size: 15px;
  }

  .codeContainerButton:hover {
    cursor: pointer;
    filter: brightness(85%);
    // background-color: $dark-blue;
  }

  p {
    font-size: 10px;
  }

  /*
SCHEMA/RESOLVER PANEL STYLING
*/
  .sidebar {
    display: none;
    position: absolute;
    right: -25%;
    height: 80%;
    width: 25%;
    transition: width 0.5s ease-in-out;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px #aaa9a9;
    z-index: 9;
  }

  .sidebar.open {
    display: block;
    right: 0;
  }

  .codeToggleBtn {
    font-size: 50px;
    background-color: $orange;
    color: $dark-blue;
    position: fixed;
    width: 50px;
    right: 0px;
    border: none;
    transition: left 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #aaa9a9;
    z-index: 10;
  }

  .codeToggleBtn:hover {
    filter: brightness(85%);
  }

  .codeToggleBtn.open {
    right: 25%;
    background-color: $dark-blue;
    color: $orange;
  }

  .codeToggleBtn.open:hover {
    filter: brightness(85%);
  }
  // #copyButton {
  //   display: flex;
  //   bottom: 0;
  // }
}
