.demoContainer {
  font-family: $noto-serif;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $dark-blue;

  .demoHeader {
    font-family: $noto-serif;
    font-size: 60px;
    letter-spacing: 0.1em;
    margin: -20px auto -10px auto;
    padding: 0px 0px;
  }
}

.demoItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 550px;
  margin-bottom: 60px;

  .imgContainer {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  // class for all gifs
  .demoGif {
    width: 70%;
    border: 2px solid $orange;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa9a9;
  }

  #input {
    width: 80%;
    // border: 2px solid $orange;
    // border-radius: 5px;
    // box-shadow: 0px 0px 10px #aaa9a9;
  }

  #visual {
    width: 80%;
    // border: 2px solid $orange;
    // border-radius: 5px;
    // box-shadow: 0px 0px 10px #aaa9a9;
  }

  #schemas {
    width: 80%;
    // border: 2px solid $orange;
    // border-radius: 5px;
    // box-shadow: 0px 0px 10px #aaa9a9;
  }

  #playground {
    width: 80%;
    // border: 2px solid $orange;
    // border-radius: 5px;
    // box-shadow: 0px 0px 10px #aaa9a9;
  }

  .featureWords {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .featureName {
    color: $orange;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.05em;
  }

  .featureDescription {
    font-size: 26px;
  }
}
