#homeBody {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  background: white;
  background-image: radial-gradient(rgb(36, 35, 35) 1px, transparent 0);
  background-size: 25px 25px;
  background-position: -19px -19px;
}

.homePage {
  width: 100%;
  height: 100%;
}
