#homeHeader {
  // background-color: #5a95f5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';

  .socialLogos {
    margin-left: 40px;
  }

  .rightLinks {
    display: flex;
  }

  .headerLinks {
    color: black;
    font-size: 37px;
    text-decoration: none;
    // margin: 0px 40px 0px 10px;
    margin-right: 40px;
  }

  .headerLinks:visited {
    color: black;
  }

  .headerLinks:hover {
    color: $orange;
  }

  .headerLinks:active {
    color: $orange;
  }

  .homeLogo {
    height: 50px;
    margin: 10px -10px 0px 0px;
  }
}

#appHeader {
  // background-color: $bright-blue;
  background-color: $dark-blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';

  .headerLinks {
    color: white;
    font-size: 37px;
    text-decoration: none;
    margin-right: 40px;
  }

  .headerLinks:visited {
    color: white;
  }

  .headerLinks:hover {
    color: $orange;
  }

  .headerLinks:active {
    color: $orange;
  }

  .homeLogo {
    height: 80px;
    // margin: 10px 25px 0px 0px;
    margin-left: 20px;
  }

  .homeLogo:hover {
    color: $orange;
  }
}
