/*
URI FORM PANEL STYLING
*/
.uripanel {
  font-family: $orelega-one;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 27%;
  left: -35%;
  height: 55%;
  width: 35%;
  transition: left 0.5s ease-in-out;
  background-color: white;
  z-index: 9;
  box-shadow: 0px 0px 10px #aaa9a9;
}

.uripanel.open {
  // display: flex;
  left: 0;
  padding: 0px 0px;
}

#sampleHeader {
  font-size: 35px;
  padding: 0px 0px;
  margin: 0px 0px;
}

.uripanelbtn {
  font-size: 50px;
  position: fixed;
  background-color: $orange;
  color: $dark-blue;
  // border: 2px solid $orange;
  border: none;
  width: 50px;
  top: 30%;
  left: 0px;
  z-index: 10;
  transition: left 0.5s ease-in-out;
  box-shadow: 0px 0px 10px #aaa9a9;
}

.uripanelbtn:hover {
  // background-color: $dark-blue;
  filter: brightness(80%);
}

.uripanelbtn.open {
  left: 35%;
  background-color: $dark-blue;
  color: $orange;
}

.uripanelbtn.open:hover {
  filter: brightness(80%);
}

#sampleDataButton {
  margin-bottom: -20px;
}

#uriAboveForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

#sampleDataButton {
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 10px 0px;
  background-color: $dark-blue;
  color: $orange;
  border: none;
  font-size: 15px;
}

#sampleDataButton:hover {
  cursor: pointer;
  filter: brightness(85%);
}

/*
URI FORM STYLING
*/
.uriForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#invalidURI {
  color: red;
  font-size: 13px;
}

// .formHeader {
//   padding: 0px 0px;
//   margin: 0px auto;
//   font-size: 40px;
//   padding: 0px 0px;
// }

#inputHeader {
  font-size: 35px;
  padding: 0px 0px;
  margin: 0px 0px;
}

.dbInput {
  width: 80%;
  margin: 15px 0px -5px 0px;
}

#uriSubmitButton {
  margin-bottom: 35px;
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 10px 0px;
  background-color: $dark-blue;
  color: $orange;
  border: none;
  font-size: 15px;
}

#uriSubmitButton:hover {
  cursor: pointer;
  filter: brightness(85%);
}
