.diagramContainer {
  // font-family: 'Comfortaa';
  font-family: $comfortaa;
  border: 2px solid $orange;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 65%;
}

#reactFlow {
  // color: red;
  // background-color: purple;
  // width: 100%;
}

.tableHeader {
  // font-family: 'RocknRoll One';
  // font-family: 'Comfortaa';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px -0px 0px -10px;
  // padding: 0px -10px;
  width: 370px;
  height: 40px;
  background-color: $bright-blue;
  font-size: 20px;
}

.columnDotContainer {
  width: 110%;
  margin: 0px 0px 0px -18px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  line-height: 1.5em;
}

.leftColumn {
  // background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px 0px;
  margin-left: 1px;
}

.rightColumn {
  // background-color: blue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  // flex-wrap: wrap;
  padding: 3px 0px;
  margin-right: 4px;
}

/* 
NO HANDLES
*/
.noNodeColumnName {
  margin-left: 15px;
}

.noNodeDataType {
  margin-right: 15px;
  color: rgb(61, 60, 60);
}

/* 
TARGET HANDLES (orange) 
*/
.targetColumnName {
  margin-left: 5px;
  // margin-right: 15px;
}

.targetDataType {
  margin-right: 15px;
  // margin-left: 15px;
  color: rgb(61, 60, 60);
}

/* 
SOURCE HANDLES (blue)
*/
.sourceColumnName {
  margin-left: 15px;
  // margin-right: 15px;
}

.sourceDataType {
  margin-right: 5px;
  // margin-left: 15px;
  color: rgb(61, 60, 60);
}

.sourceDot {
  margin-top: 10px;
}
