.diagramContainer {
  font-family: $comfortaa;
  border: 2px solid $orange;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 65%;
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px -0px 0px -10px;
  width: 370px;
  height: 40px;
  background-color: $dark-blue;
  color: $orange;
  font-size: 20px;
}

.columnDotContainer {
  width: 110%;
  margin: 0px 0px 0px -18px;
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
}

.leftColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px 0px;
  margin-left: 1px;
}

.rightColumn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 3px 0px;
  margin-right: 4px;
}

/* 
NO HANDLES
*/
.noNodeColumnName {
  margin-left: 15px;
}

.noNodeDataType {
  margin-right: 15px;
  color: rgb(61, 60, 60);
}

/* 
TARGET HANDLES (orange) 
*/
.targetColumnName {
  margin-left: 5px;
}

.targetDataType {
  margin-right: 15px;
  color: rgb(61, 60, 60);
}

/* 
SOURCE HANDLES (blue)
*/
.sourceColumnName {
  margin-left: 15px;
}

.sourceDataType {
  margin-right: 5px;
  color: rgb(61, 60, 60);
}

.sourceDot {
  margin-top: 0px;
  display: flex;
  align-items: center;
}
